# Advanced Querying Mongo

Importing libraries and setting up connection

In [3]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\agc13\anaconda3\lib\site-packages (4.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from pymongo import MongoClient
client = MongoClient()

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [22]:
db=client.companies
colect = db.companies

In [23]:
list(colect.find({'name':'Babelgum'},
               
               {'_id': 0, 'name': 1}   
                
               ))[:10]

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [34]:
list(colect.find({'number_of_employees': {'$gte': 500}},
                
                {'_id': 0, 'name': 1} ).sort('number_of_employees', -1)) [:5]

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [58]:
list(colect.find({'$and': [{'founded_year': {'$gte': 2000}},
                           {'founded_year': {'$lte': 2005}}]},
                  
                  {'_id': 0, 'name': 1, 'founded_year':1}))[:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [63]:
import pandas as pd

df=pd.DataFrame(list(colect.find({'$and': [{'category_code': 'web'},
                          {'founded_year': {'$lte': 2002}}]},
               
                                      # para filtrar lo que viene
                
               )))


df.head()

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,investments,acquisition,acquisitions,offices,milestones,ipo,video_embeds,screenshots,external_links,partners
0,52cdef7c4bab8bd675297d90,Postini,postini,http://www.crunchbase.com/company/postini,http://postini.com,,,None,web,NaN,...,[],"{'price_amount': 625000000, 'price_currency_co...",[],"[{'description': None, 'address1': '959 Skyway...",[],None,[],[],[],[]
1,52cdef7c4bab8bd675297d93,Fox Interactive Media,fox-interactive-media,http://www.crunchbase.com/company/fox-interact...,http://www.newscorp.com,,,twitterapi,web,0.0,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 20000000, 'price_currency_co...","[{'description': '', 'address1': '407 N Maple ...",[],None,"[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 94], 'assets/imag...",[],[]
2,52cdef7c4bab8bd675297d95,StumbleUpon,stumbleupon,http://www.crunchbase.com/company/stumbleupon,http://www.stumbleupon.com,http://www.stumbleupon.com/blog,,stumbleupon,web,NaN,...,[],"{'price_amount': 29000000, 'price_currency_cod...","[{'price_amount': 29000000, 'price_currency_co...","[{'description': '', 'address1': '', 'address2...","[{'id': 3103, 'description': 'Spin-out from Eb...",None,"[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 72], 'assets/imag...",[{'external_url': 'http://www.facebook.com/Stu...,[]
3,52cdef7c4bab8bd675297d9b,eBay,ebay,http://www.crunchbase.com/company/ebay,http://ebay.com,,,eBay,web,15000.0,...,"[{'funding_round': {'round_code': 'c', 'source...",None,"[{'price_amount': 1500000000, 'price_currency_...","[{'description': 'Headquarters', 'address1': '...","[{'id': 7107, 'description': 'eBay Q2 Revenue ...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<iframe width=""370"" height=""3...","[{'available_sizes': [[[150, 71], 'assets/imag...",[],[]
4,52cdef7c4bab8bd675297d9f,Viacom,viacom,http://www.crunchbase.com/company/viacom,http://www.viacom.com,,,viacom,web,NaN,...,"[{'funding_round': {'round_code': 'b', 'source...",None,"[{'price_amount': 64000000, 'price_currency_co...","[{'description': 'HQ', 'address1': '1515 Broad...","[{'id': 9983, 'description': 'Harmonix Music S...","{'valuation_amount': None, 'valuation_currency...","[{'embed_code': '<embed src=""http://blip.tv/pl...","[{'available_sizes': [[[150, 115], 'assets/ima...",[],[]

In [70]:
list(colect.find({'$and': [{'ipo.valuation_amount': {'$gt': 100000000}},
                           {'founded_year': {'$lt': 2010}}]},
                  
                  {'_id': 0, 'name': 1, 'ipo':1}))[:5]

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'name': 'Yelp',
  'ipo': {'valuation_amount': 1300000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 3,
   'pub_day': 2,
   'stock_symbol': 'NYSE:YELP'}},
 {'name': 'LinkedIn',
  'ipo': {'valuation_amount': 9310000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2011,
   'pub_month': 7,
   'pub_day': 20,
   'stock_symbol': 'NYSE:LNKD'}},
 {'name': 'Amazon',
  'ipo': {'valuation_amount': 100000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 1997,
   'pub_month': 5,
   'pub_day': None,
   'stock_symbol': 'NASDAQ:AMZN'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [74]:
list(colect.find({'$and': [{'number_of_employees': {'$lt': 1000}},
                           {'founded_year': {'$lt': 2005}}]},
                  
                  {'_id': 0, 'name': 1}).sort('number of employees') .limit(10))

[{'name': 'Skype'},
 {'name': 'Pando Networks'},
 {'name': 'Technorati'},
 {'name': 'SmugMug'},
 {'name': 'AddThis'},
 {'name': 'Plaxo'},
 {'name': 'Digg'},
 {'name': 'AdventNet'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Meetup'}]

### 6. All the companies that don't include the `partners` field.

In [92]:
list(colect.find({'partners': {'$exists':'null'}},
                
                {'_id': 0, 'name': 1} ).limit(10))

[{'name': 'Wetpaint'},
 {'name': 'AdventNet'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Facebook'},
 {'name': 'Omnidrive'},
 {'name': 'Postini'},
 {'name': 'Geni'},
 {'name': 'Flektor'},
 {'name': 'Fox Interactive Media'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [95]:
list(colect.find({'category_code': None},
                
                {'_id': 0, 'name': 1} ).limit(10))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'},
 {'name': 'Drigg'},
 {'name': 'SpaceTime'},
 {'name': 'Touch Clarity'},
 {'name': 'MMDAYS'},
 {'name': 'Inside Group'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [97]:
list(colect.find({'$and': [{'number_of_employees': {'$gt': 100}},
                           {'number_of_employees': {'$lt': 1000}}]},
                  
                  {'_id': 0, 'name': 1,'number of employees': 1 }) .limit(10))

[{'name': 'AdventNet'},
 {'name': 'AddThis'},
 {'name': 'OpenX'},
 {'name': 'LifeLock'},
 {'name': 'Jajah'},
 {'name': 'Livestream'},
 {'name': 'Ustream'},
 {'name': 'iContact'},
 {'name': 'Yelp'},
 {'name': 'Dailymotion'}]

### 9. Order all the companies by their IPO price in a descending order.

In [114]:
list(colect.find({},{'_id': 0, 'name': 1}).sort('ipo',-1).limit(10))

[{'name': 'Flektor'},
 {'name': 'Fox Interactive Media'},
 {'name': 'Facebook'},
 {'name': 'Geni'},
 {'name': 'Omnidrive'},
 {'name': 'Digg'},
 {'name': 'AdventNet'},
 {'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Postini'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [121]:
list(colect.find({},
                 
                 {'_id': 0, 'name': 1, }).sort('number_of_employees',-1).limit(10))

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [129]:
list(colect.find({'founded_month': {'$gt': 6}},
                
                {'_id': 0, 'name': 1} ).limit(10))

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Omnidrive'},
 {'name': 'eBay'},
 {'name': 'Joost'},
 {'name': 'Plaxo'},
 {'name': 'Powerset'},
 {'name': 'Kyte'},
 {'name': 'Thoof'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [130]:
list(colect.find({'$and': [{'founded_year': {'$lt': 2000}},
                           {'acquisition.price_amount': {'$gt': 10000000}}]},
                  
                  {'_id': 0, 'name': 1, }) .limit(10))

[{'name': 'Postini'},
 {'name': 'SideStep'},
 {'name': 'Recipezaar'},
 {'name': 'PayPal'},
 {'name': 'Snapfish'},
 {'name': 'Neopets'},
 {'name': 'Sun Microsystems'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'},
 {'name': 'Sabre'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [132]:
list(colect.find({'acquisition.acquired_year': {'$gt': 2010}},
                
                {'_id': 0, 'name': 1} ).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'T-Mobile'},
 {'name': 'Goodrich Corporation'},
 {'name': 'LSI'},
 {'name': 'National Semiconductor'},
 {'name': 'Ariba'},
 {'name': 'NetLogic Microsystems'},
 {'name': 'SuccessFactors'},
 {'name': 'Qualcomm Atheros'},
 {'name': 'Global Crossing'},
 {'name': 'Global Crossing'}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [142]:
list(colect.find({},
                 
                 {'_id': 0, 'name': 1, 'founded_year':1}).limit(10))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'AdventNet', 'founded_year': 1996},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Postini', 'founded_year': 1999},
 {'name': 'Geni', 'founded_year': 2006},
 {'name': 'Flektor', 'founded_year': None},
 {'name': 'Fox Interactive Media', 'founded_year': 1979}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [135]:
list(colect.find({'founded_day': {'$lte': 7}},
                
                {'_id': 0, 'name': 1} ).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Netscape'},
 {'name': 'PayPal'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'},
 {'name': 'Postini'},
 {'name': 'Danger'},
 {'name': 'Clearwell Systems'},
 {'name': 'PrimeSense'},
 {'name': 'Amobee'},
 {'name': 'BlueLithium'}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [138]:
list(colect.find({'$and': [{'category_code': 'web'},
                           {'number_of_employees': {'$gt': 4000}}]},
                  
                  {'_id': 0, 'name': 1, }) .limit(10).sort('number_of_employees',1))

[{'name': 'Expedia'},
 {'name': 'AOL'},
 {'name': 'Webkinz'},
 {'name': 'Rakuten'},
 {'name': 'Los Angeles Times Media Group'},
 {'name': 'Groupon'},
 {'name': 'Yahoo!'},
 {'name': 'eBay'},
 {'name': 'Experian'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [140]:
list(colect.find({'$and': [{'acquisition.price_amount': {'$gt':10000000}},
                           {'acquisition.price_currency_code': 'EUR'}]},
                  
                  {'_id': 0, 'name': 1, }) .limit(10))

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'},
 {'name': 'Tuenti Technologies'},
 {'name': 'BioMed Central'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [141]:
list(colect.find({'acquisition.acquired_month': {'$lt': 4}},
                
                {'_id': 0, 'name': 1,'acquisition': 1 } ).limit(10))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}},
 {'name': 'Coghead',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2009/02/19/sap-acquires-cogheads-technology-as-it-looks-towards-the-cloud/',
   'source_description': 'SAP Acquires Cogheadâ€™s Technology As It Looks Towards The Cloud',
   'acquired_year': 2009,
   'acquired_month': 2,
   'acquired_day': 19,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'Dailymotion',
  'acquisition': {'price_amount': 168000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/02/22/orange-acquired-dailymotion-for-168-million-by-buying-out-the-remaining-51-stake/',
   'source_description': 'Orange Acquired Dailymotion For $168 Million By Buying Out Remaining 51% Stake [Update: Orange Confirms]',
   'acquired_year': 2013,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Orange', 'permalink': 'orange'}}},
 {'name': 'Netvibes',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.marketwatch.com/story/dassault-systemes-acquires-netvibes-2012-02-09',
   'source_description': 'Dassault Systemes Acquires Netvibes',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Dassault Systemes',
    'permalink': 'dassault'}}},
 {'name': 'Flickr',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://news.cnet.com/Yahoo-buys-photo-sharing-site-Flickr/2100-1038_3-5627640.html?tag=mncol;txt',
   'source_description': 'CNET',
   'acquired_year': 2005,
   'acquired_month': 3,
   'acquired_day': None,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'name': 'BabyCenter',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.investor.jnj.com/releasedetail.cfm?releaseid=63836',
   'source_description': 'Johnson & Johnson Acquires BabyCenter From eToys, Inc. Leading Online Destination for Parents Plans for Continued Expansion of Operations',
   'acquired_year': 2001,
   'acquired_month': 3,
   'acquired_day': 2,
   'acquiring_company': {'name': 'Johnson & Johnson',
    'permalink': 'johnson-johnson'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [146]:
list(colect.find({'$and': [{'founded_year': {'$gt':2000}},
                           {'founded_year': {'$lt':2010}},
                             {'acquisition.acquired_year': {'$gt':2011}}]},
                  
                  {'_id': 0, 'name': 1, }) .limit(10))

[{'name': 'Wetpaint'},
 {'name': 'Digg'},
 {'name': 'Geni'},
 {'name': 'blogTV'},
 {'name': 'Revision3'},
 {'name': 'iContact'},
 {'name': 'Mashery'},
 {'name': 'Dailymotion'},
 {'name': 'KickApps'},
 {'name': 'Netvibes'}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [147]:
list(colect.find({'deadpooled_year': {'$gt': 3}},
                
                {'_id': 0, 'name': 1} ).limit(10))

[{'name': 'Omnidrive'},
 {'name': 'Babelgum'},
 {'name': 'Sparter'},
 {'name': 'Thoof'},
 {'name': 'Mercora'},
 {'name': 'Wesabe'},
 {'name': 'Jangl SMS'},
 {'name': 'Stickam'},
 {'name': 'AllPeers'},
 {'name': 'EQO'}]